{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                    <h2>Jobs list</h2>
                    <div class="list-group">
                            <a htref="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img class="img-icon" src="static/aws.png"> </img>
                                    <h4 class="mb-1 ml-3">Software developer Engineer - AWS Elasticache</h4>
                                    <small class="mb-1 ml-3">1 days ago</small>
                                </div>
                                <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> -->
                                <!-- <small>Donec id elit non mi porta.</small> -->
                                <snall>Amazon Web Services (AWS)</small>
                                <small>Dublin IE</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img class="img-icon" src="static/evercam.jpg"> </img>
                                    <h4 class="mb-1 ml-3">Marketing Lead – SaaS | Tech Start Up | Dublin</h4>
                                    <small class="mb-1 ml-3">3 days ago</small>
                                </div>
                                <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> -->
                                <!-- <small>Donec id el/it non mi porta.</small> -->
                                <snall>Evercam LTD</small>
                                <small>Dublin IE</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img class="img-icon" src="static/udemy.jpeg"> </img>
                                    <h4 class="mb-1 ml-3">Software Engineer - Media Streaming</h4>
                                    <small class="mb-1 ml-3">4 days ago</small>
                                </div>
                                <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> -->
                                <!-- <small>Donec id elit non mi porta.</small> -->
                                <snall>Udemy</small>
                                <small>Dublin IE</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img class="img-icon" src="static/google.png"> </img>
                                    <h4 class="mb-1 ml-3">Software Engineer, Site Reliability Engineering (Part-Time Employee)</h4>
                                    <small class="mb-1 ml-3">7 days ago</small>
                                </div>
                                <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> -->
                                <!-- <small>Donec id elit non mi porta.</small> -->
                                <snall>Google</small>
                                <small>Dublin IE</small>
                            </a>
                        </div>
            </div>
            <div class="col-sm-8">
                    <h2>Marketing Lead – SaaS | Tech Start Up | Dublin</h2>
                    <pre id="evercam" class="code">
<b>Are you a MODERN MARKETING MARVEL with everything in the kitbag?</b>

It’s a big ask but we’re super ambitious. Undergoing phenomenal growth we now
need a modern marketing superhero – cape and all. Your mission? Drive our
world domination plan in becoming the undisputed SaaS leader in our niche –
camera software for construction.

<b>What does this entail?</b>

For one, you are NERDY with numbers yet CREATIVE with content. But while busy
looping in the LEADS to fuel our growth, you are still razor-focused on the
BIGGER picture of building a beautiful brand and communication strategy
worthy of global leadership.

Initial a one-person team – of you! – very quickly you will have
responsibility for building the troops around you to drive and flourish
in our fastest growth phase ever, hiring and nurturing the right people as
we grow.

<b>A little bit about Evercam</b>

Evercam software turns CCTV cameras into marketing, project management &
dispute avoidance cameras for construction. Our clients are typically main
contractors across Ireland and the UK (the rest is next). We sell both
directly to the client and via our Channel Partner community. We’ve doubled
our key metrics for each of the last three years. We now plan to accelerate
that given we’ve got the world-leading technology in our pocket (no mess).
Oh…and just wait until you see what we have coming next…

You are joining us at a nice time, the basic infrastructure for Marketing
is in place and we now need to ramp up. Our budgets are not huge (yet) but
the opportunities for creative expression are. There is so much potential
to make an impact.

To help you do just that you have the support of a superhero team behind
you, equally focused on top notch customer service, retention and new
customer acquisition. Feeding the funnel of an expert sales team
(6+ and growing), you will also work with management to drive the company,
marketing, brand, communication and product strategy.

<b>Skills also in your kitbag:</b>

Rock-solid interpersonal, communication and written skills – you’ll be in
regular dialogue with customers and partners, presenting progress to our
internal management and sales teams in addition to spearheading the
Evercam voice
A T-rex focus on numbers, data, dashboards and reporting – what’s
working? What didn’t?
A passion for people and their development. The team will grow fast
as the business grows.
Ability to see the big picture regarding the strategic marketing of
a soon-to-be global brand.
Comfortable with multi-tasking and running a scaling marketing operation.
You eat BRAND for BREAKFAST and COMMUNICATION for CRUNCH
(that’s coffee + lunch!)
Tools We Use & Love

Google Adwords, G-Suite, Search Console, Analytics so we get
found online.
Zoho CRM, Analytics, SalesIQ, Projects and e-nurturing to drive
and manage tonnes of leads.
WordPress, webinars, websites – anything digital and social that’s
showcases and sells
Video & Images – they’re our medium after all!
Smatterings of Intercom, Slack, Trello etc – what’s now and what’s next.
Events and conferences – some of that old stuff never goes out of fashion!
Why Evercam

Fast-growing, ambitious and innovative company on a mission. We are flying
in the UK and Ireland and gearing for global growth.
Expanding role and department with you at the helm
Solid tech services company with a proven track record but a new start-up
spirit in our veins
We’re very social (we threw some axes around last time!)
Competitive salary, charming culture and calming walks with Soupie (the dog).
                    </pre>
                    <!-- <pre id="amazon" class="collapse">
<b>Description<b>

Our software developers build the next generation technologies that change how millions of AWS customers connect, and interact with AWS services ecosystem. We use ideas from every facet of computer science including distributed computing, large-scale design, big and real-time data processing, data storage, service oriented architecture, and networking. We are looking for highly-motivated and passionate engineers to build our next generation high performance in-memory distributed data storage platform to solve real-time query, transaction and analytics processing for large scale data applications.

As an engineer in our in-memory computing platform team, you will build our next-generation in-memory caching, scalable and distributed database platform that allows developers to build highly available, scalable and high performance applications. You will lead the software development of large-scale distributed in-memory caching service; in Java, C/C++ and other languages using open source technologies like Redis, Memcached, and Amazon proprietary technologies. This includes software applications dealing with HTTP/REST services, asynchronous messaging, event-based technologies, real-time failure detection system, horizontal and vertical scaling, management, monitoring and data plane workflows, auto-remediation, fault tolerance, backup and restore technologies, disaster recovery and prevention.

Our charter is ElastiCache. Elasticache is an AWS service that enables users to deploy, manage and massively scale in-memory distributed data stores. Customers include many of the world's fastest growing start-ups, using the service to build low latency, high throughput data layer and improve performance of applications using caching. Amazon ElastiCache helps developers turbo-charge their application performance and simplifies management of Memcached and Redis data stores in the cloud. We heavily use open-source software systems in providing a world-class experience to our customers.

To apply for this role, we are looking for folks with solid analytical, design and problem diagnosis skills. Database internals, high-performance applications, distributed systems or service design is a plus. We need our engineers to be versatile, display leadership qualities and be enthusiastic to tackle new problems across the full-stack as we continue to push technology forward. With your technical expertise you will manage individual projects priorities, deadlines and deliverables. You will design, develop, test, deploy, maintain, and enhance software solutions.


Basic Qualifications
Bachelor’s Degree in Computer Science or related field, and 4+ years relevant work experience
Fully skilled at CI / CD processes and process automation
Ability to reason about system performance and a solid understanding of hardware/software interaction
Knowledge of one or more modern programming languages such as C++, Java, Scala or Python
Understanding of Linux and scripting knowledge is beneficial
Preferred Qualifications
Relevant advanced degree / Masters
Knowledge of professional software engineering practices & best practices for the full software development life cycle, including coding standards, code reviews, source control management, build processes, testing, and operations
Knowledge and experience with operating systems internals, database kernels, networking, distributed systems and virtualization are a plus

                    </pre> -->
                    <h4 class="lead">
                        <a class="btn btn-primary btn-lg" href="upload" role="button">Apply for this job</a>
                    </h4>
            </div>
        </div>
        

    </div>

{% endblock %}