label {
   cursor: pointer;
}



/* Layout */

html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow-x: hidden;
}

#container {
   height: 100%;
   min-height: 100%;
   position: relative;
}

#body {
   margin: 20px;
   min-height: 100%;
}

#footer {
   bottom: 0;
   width: 100%;
   height: 50px;   /* Height of the footer */
   text-align: center;
}

/* Forms */

.form-user {
   width: 33% !important;
   margin: 0 auto !important;
   margin-top: 10% !important;
}

.form-error {
   color: #E50000 !important;
}

/* Flask flashes */

.flash {
   margin-right: 20px !important;
}

/* Errors */

.error-box {
   margin-top: 8%;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

.blurry-text {
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
 }

 .ungender {
	height:400px;
	width: 400px;
	border-right: 420px;
 }

 .jumbotron {
	padding-left: 10px !important;
	padding-right: 100px !important;
 }

 .img-icon {
	float:left;
	width: 80px;
	height: 80px;
	margin-right: 10px;
 }

 .code {
	max-width: 800px;
	max-height: 800px;
	background: #eaeff3;
	color: #616161;
	padding: 24px;
	border-left: 4px solid #47AAE4;
	overflow: auto;
 }

 .code2 {
	max-height: 800px;
	background: #eaeff3;
	color: #616161;
	padding: 24px;
	border-left: 4px solid #47AAE4;
	overflow: auto;
 }

 .font-size {
	font-size: 20px;
 }